<main class="row gx-5">

    <h1 class="text-center">Hello world</h1>
    <h2 class="text-end">Second</h2>
    <h3>Title 3</h3>


    <hr>
    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Title 3</div>


    <hr>
    <span class="text-muted">Додатковий текст</span>
    <hr>
    <button class="btn btn-warning">button</button>
    <hr>
    <h1 class="text-success">Work</h1>
    <hr>
    <button class="btn btn-outline-danger">unsaccess</button>
    <button class="btn btn-outline-danger btn-lg">unsaccess</button>

    <button class="btn btn-outline-danger btn-sm">unsaccess</button>
    <hr>
    <div class="card">
        <div class="card-body">
            content
        </div>
    </div>
    <hr>

    <hr>
    <div>
        <div class="card text-bg-dark">

            <img src="https://picsum.photos/400/200" alt="product photo" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Menu</h5>
                <p class="text-bg-warning">About 123 </p>

            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Menu</h5>

        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </li>

            <li class="list-group-item">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>

            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>

        <div class="card-footer">
            <button class="btn btn-dark btn-sm">update</button>
        </div>
    </div>





    <table class="table table-striped table-bordered text-bg-success">
        <thead>
            <tr>
                <th>
                    #ID
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
        </tbody>
    </table>


    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is content of</p>
            <button class="btn btn-light">Click me</button>
        </div>
        <div class="card-footer text-center">Footer</div>

    </div>




    <div class="row g-3">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of</p>
                    <button class="btn btn-light">Click me</button>
                </div>
                <div class="card-footer text-center">Footer</div>

            </div>

        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of</p>
                    <button class="btn btn-light">Click me</button>
                </div>
                <div class="card-footer text-center">Footer</div>

            </div>

        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of</p>
                    <button class="btn btn-light">Click me</button>
                </div>
                <div class="card-footer text-center">Footer</div>

            </div>

        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of</p>
                    <button class="btn btn-light">Click me</button>
                </div>
                <div class="card-footer text-center">Footer</div>

            </div>

        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of</p>
                    <button class="btn btn-light">Click me</button>
                </div>
                <div class="card-footer text-center">Footer</div>

            </div>

        </div>
    </div>
    <br>
    <hr>
    <hr>
    <hr>
    <br>
    <div>
        <div class="row g-3">
            <div class="col-12 m-5">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="#" class="nav-link active">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Catalog</a>
                        <br>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link disabled">Link</a>
                    </div>
                </div>

            </div>
            <div class="col-3 me-5">
                <div class="card">
                    <div class="card-body">
                        <div class="nav flex-column">
                            <div class="nav-item mb-3">
                                <div class="card">
                                    <a href="#" class="nav-link">Home</a>
                                </div>
                                
                            </div>
                            <div class="nav-item mb-3">
                                <div class="card">
                                    <a href="#" class="nav-link">Catalog</a>
                                </div>
                                
                            </div>
                            <div class="nav-item">
                                <div class="card">
                                    <a href="#" class="nav-link disabled">Link</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                     <li class="breadcrumb-item">
                        <a href="#">PC ta Nout</a>
                    </li>
                      <li class="breadcrumb-item">
                        <a href="#">aser</a>
                    </li>
                </ol>
                </div>
            </div>

            <div class="col-12">
                <div><h6>Hello word <span class="badge text-bg-warning rounded-pill text-uppercase">Sale</span></h6></div>
                <button class="btn btn-success rounded-pill m-5">kjghiydx</button>

                <div class="alert alert-danger">This is important info</div>
            </div>
            </div>
        </div>


    </div>









</main>