<main>

    <h1 class="text-center">Hello world</h1>
    <h2 class="text-end">Second</h2>
    <h3>Title 3</h3>

    <br>
    <hr>
     <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Title 3</div>

    <br>
    <hr>
    <span class="text-muted">Додатковий текст</span>
    <hr>
    <button class="btn btn-warning">button</button>
    <hr>
    <h1 class="text-success">Work</h1>
    <hr>
    <button class="btn btn-outline-danger">unsaccess</button>   
     <button class="btn btn-outline-danger btn-lg">unsaccess</button>   

 <button class="btn btn-outline-danger btn-sm">unsaccess</button>   
 <hr>
 <div class="card">
    <div class="card-body">
        content
    </div>
 </div>



</main>