<footer class="mb-5">
    <div class="nav">
        {{#each footer}}
        <div class="nav-item col-2">
            {{#each this}}
            <a href="link" target="_blank" class="nav-link">{{text}}</a>

            {{/each}}
        </div>

        {{/each}}
    </div>

</footer>