<div class='card mb-5'>
    <div class='card-body'>

        <div class='nav'>

            <div class='nav-link'>
                {{#each links}}
                <a href='href'>{{text}}</a>
                {{/each}}
            </div>
            <a href='href' class='nav-link disabled'>Disabled</a>

        </div>
    </div>
</div>